################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerMgmt/App_Data/客戶資料.mdf
/CustomerMgmt/App_Data/客戶資料_log.ldf
